__pycache__/
botTxtFiles/OLD_serverConfigs/
botTxtFiles/serverConfigs/
botTxtFiles/bot.log
botTxtFiles/customCommands.json
botTxtFiles/discordTokens.json
botTxtFiles/game.txt
botTxtFiles/moobotBlacklist.txt
tempAddon.py
*.jpg
*.png
