<!DOCTYPE html>
<html>
<head>
    <title>Apple.py Oauth Connection Page</title>
    <link rel="stylesheet" type="text/css" href="{{ static('main.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div id="buttons">

    {% if session.logged_in %}

        <a href="/logout">
            <div class="button-holder">Logout of Discord (<b>{{ session.user_info.username }}#{{ session.user_info.discriminator }}</b>)</div>
        </a>

        {% if twitch_username %}
            <a href="/twitch_logout">
                <div class="button-holder">Logout of Twitch (<b>{{ twitch_username }}</b>)</div>
            </a>
        {% else %}
            <a href="{{ twitch_login_url }}">
                <div class="button-holder">Login with Twitch</div>
            </a>
        {% endif %}

        {% if github_username %}
            <a href="/github_logout">
                <div class="button-holder">Logout of Github (<b>{{ github_username }}</b>)</div>
            </a>
        {% else %}
            <a href="{{ github_login_url }}">
                <div class="button-holder">Login with Github</div>
            </a>
        {% endif %}

        {% if gitlab_username %}
            <a href="/gitlab_logout">
                <div class="button-holder">Logout of Gitlab (<b>{{ gitlab_username }}</b>)</div>
            </a>
        {% else %}
            <a href="{{ gitlab_login_url }}">
                <div class="button-holder">Login with Gitlab</div>
            </a>
        {% endif %}

        {% if google_email %}
            <a href="/google_logout">
                <div class="button-holder">Logout of Google (<b>{{ google_email }}</b>)</div>
            </a>
        {% else %}
            <a href="{{ google_login_url }}">
                <div class="button-holder">Login with Google</div>
            </a>
        {% endif %}

    {% else %}
        <a href="{{ login_url }}">
            <div class="button-holder">Login with Discord</div>
        </a>
    {% endif %}
</div>

</body>
</html>
